<mat-toolbar>
  <span> angular-nest </span>

  @if (!isProduction) {
    &nbsp;
    <small>(dev)</small>
  }
</mat-toolbar>

<div (click)="this.getExampleArticle()">aaa</div>

<div class="content">
  <div class="cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>What is this?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Simple web app template with Angular + NestJS + ng-openapi-gen.<br />
        <a
          href="https://github.com/mugifly/angular-nest"
          target="_blank"
          rel="noopener"
        >
          https://github.com/mugifly/angular-nest
        </a>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cards">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Example request (plain text)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ $exampleText | async }}
      </mat-card-content>
      <mat-card-actions align="end">
        <button (click)="getExampleText()" mat-flat-button>Request</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Example request (object)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if ($exampleArticle | async; as article) {
          <ul>
            <li>Title: {{ article.title }}</li>
            <li>ID: {{ article.id }}</li>
            <li>
              Updated at: {{ article.updatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}
            </li>
          </ul>
        }
      </mat-card-content>
      <mat-card-actions align="end">
        <button (click)="getExampleArticle()" mat-flat-button>Request</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <router-outlet></router-outlet>
</div>
